.container-init-questions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
}

.container-question{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 35vw;
}

.container-number{
    width: 15%;
}

.question-number{
    background-color: #34C759;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: xx-large;
    width: 7.5vh;
    height: 7.5vh;
}

.container-text{
    width: 85%;
}

.question-text{
    font-size: xx-large;
    font-weight: bold;
}

.btn-green {
    width: 10vw;
    height: 5vh;
    border: none;
    border-radius: 1rem;
    color: white;
    background-color: #88AE55;
    cursor: pointer;
}

.btn-green:hover{
    background-color: #92CD43;
}