.container-graphics-home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 2vw;
}

.graphics-background-home-pie {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 2rem 2rem 2rem;
    margin: 0.5rem 0;
    background-color: #ffffff28;
    border-radius: 2rem;
    width: 85%;
    min-height: 300px;
    height: 300px;
}

.graphics-background-home-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 0.5rem 0;
    background-color: #ffffff28;
    border-radius: 2rem;
    width: 85%;
    height: 250px;
}

.container-button-home {
    display: none;
    width: 90%;
    margin-top: 1rem;
}

.all-cover-btn {
    width: 100% !important;
}

.graphics-comparation {
    color: white;
    text-align: center;
}

.item-home-tofix{
    display: flex;
}

.container-link{
    width: 80%;
}

.bar-chart-container {
    min-height: 150px;
    max-height: 180px;
    margin-bottom: 1rem;
}

.bar-chart-center {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 140px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    padding: 0.5rem 1rem 1rem 1rem;
    margin-top: -0.5rem;
}

@media (max-width: 992px) {
    .container-button-home {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 4rem;
    }
    .item-home-tofix{
        display: none;
    }
    .graphics-background-home-pie {
        width: 100% !important;
        height: 50vh !important;
    }
    .graphics-background-home-bar {
        width: 100% !important;
        height: 30vh !important;
    }
    .bar-chart-container {
        min-height: 160px;
        max-height: 180px;
    }
    .bar-chart-center {
        height: 120px;
    }
}

@media (max-width: 1200px) {
  .bar-chart-center {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-right: 10px;
  }
}

@media (min-width: 1400px) {
  .bar-chart-center {
    height: 200px;
  }
  .bar-chart-container {
    min-height: 280px;
    max-height: 300px;
  }
}