.container-graphics-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container-graphic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
    width: 100%;
}

.container-graphic:hover{
    cursor: pointer;
}

.container-button-home {
    width: 90%;
    margin-top: 1rem;
}

.all-cover-btn {
    width: 100% !important;
}

@media (max-width: 768px) {
    .container-graphic {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-button-home{
        margin-bottom: 1rem;
    }
    .container-graphic:hover{
        cursor: pointer;
    }
}