.container-my-subscription {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.container-my-subscription-content {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    animation: showContent 1s;
}

.my-subscription-title {
    display: flex;
    justify-content: center;
    text-align: justify;
    width: 60%;
}

.container-actual-plan {
    display: flex;
    justify-content: center;
    width: 60%;
}

.text-title {
    font-size: 31px;
    font-weight: bold;
    color: white;
}

.text-message {
    font-size: x-large;
    color: white;
}

.container-all-subscriptions {
    display: flex;
    justify-content: space-evenly;
    width: 75%;
}

@media (max-width: 768px) {
    /* .container-my-subscription {
        flex-direction: column-reverse;
    } */

    .container-my-subscription-content {
        flex-direction: column;
        align-items: flex-start;
        overflow-y: scroll;
        padding: 1.5rem;
        justify-content: space-evenly;
    }

    .my-subscription-title {
        width: 100%;
    }

    .text-title {
        font-size: 2vh;
        width: 100%;
        text-align: justify;
    }

    .container-all-subscriptions {
        width: 100%;
    }

    .text-message {
        font-size: large;
        width: 100%;
        text-align: justify;
    }

    .container-actual-plan {
        width: 100%;
    }

    .container-btn-plan{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .upgrade-btn{
        width: 100% !important;
    }
}