.container-arrow-back {
    display: flex;
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    height: 5vh;
    width: 5vh;
    z-index: 1000;
}

.img-arrow-back {
    transition: 0.5s;
    cursor: pointer;
    /* filter: brightness(1.2); */
}

@media (pointer: fine) {
    .img-arrow-back:hover {
        transform: scale(1.1);
        filter: invert(50%);
    }
}

@media (max-width: 768px) {
    .container-arrow-back {
        bottom: 1rem;
        left: 1rem;
        height: 4vh;
        width: 4vh;
    }
}