.container-register-form{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.register-video{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100.1vh;
    object-fit: fill;
    transform: translate(-50%, -50%);
    filter: opacity(50%);
    z-index: -1;
}

@media (max-width: 768px) {
    .container-register-form{
        justify-content: flex-start;
    }
}