.container-my-seeds {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container-my-seeds-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    overflow-y: auto;
    padding: 2rem;
    animation: showContent 1s;
}

.container-seeds-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 45vw;
    padding: 2rem;
}

.text-my-seeds {
    color: white;
    text-align: justify;
    font-size: 42px;
    margin: 0 0 2rem 0;
    font-weight: bold;
}

.info-my-seeds {
    color: white;
    text-align: justify;
    font-size: 31px;
    margin: 2rem 0;
}

.container-seeds-map {
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding: 2rem;
    justify-content: space-around;
}

.seeds-map-title {
    display: flex;
    justify-content: center;
    font-size: 31px;
    color: white;
    margin-bottom: 2vh;
}

.seeds-map-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 8px;
    height: 70%;
    width: 100%;
}

.container-btn-more-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
}

@media (max-width: 768px) {
    .container-my-seeds {
        overflow-y: hidden;
    }

    .container-my-seeds-content {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        overflow-y: scroll;
        padding: 1.5rem;
    }

    .container-seeds-text {
        width: 100%;
        padding: 0.5rem 2rem;
    }

    .info-my-seeds{
        margin: 1rem 0;
    }

    .container-seeds-map {
        width: 100%;
        height: 60%;
        padding: 0.5rem 2rem;
    }

    .text-my-seeds {
        font-size: larger;
    }

    .info-my-seeds {
        font-size: medium;
    }

    .seeds-map-title {
        font-size: medium;
        font-style: italic;
    }

    .btn-green.btn-seeds-info{
        width: 100% !important;
    }
}