.watermark {
    position: absolute;
    top: 90%;
    left: 92.5%;
    text-align: center;
}

.water-none{
    display: none;
}

.watermark img {
    width: 125px;
    height: auto;
    opacity: 0.2;
}

.watermark span {
    display: block;
    font-size: 16px;
    color: #636363;
    opacity: 0.5;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .watermark{
        left: 77.5%;
        top: 92.5%
    }

    .watermark img {
        width: 75px;
        height: auto;
        opacity: 0.2;
    }
    
    .watermark span {
        display: block;
        font-size: 8px;
        color: #636363;
        opacity: 0.5;
        margin-top: 10px;
    }
}