.container-slider-price {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.horizontal-slider {
    width: 100%;
    height: 10px;
    background: #A4B46A;
    border-radius: 5px;
    position: relative;
}

.thumb {
    width: 20px;
    height: 20px;
    background: #A4B46A;
    border-radius: 50%;
    cursor: grab;
    position: relative;
    top: -5px;
}

.track {
    background: #FFF;
    height: 100%;
    border-radius: 5px;
}

.horizontal-slider .track:first-child {
    background: #A4B46A;
    /* Color del progreso (igual al thumb) */
}

.horizontal-slider .track:last-child {
    background: #ddd;
    /* Fondo restante del slider */
}

.container-all-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2vh 0;
}

.container-price-value {
    display: flex;
    align-items: center;
}

.container-tree-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tree-line {
    color: white;
    font-size: xx-large;
}

.price-symbol {
    /* width: 10vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: transparent;
    text-align: flex-end;
    color: white;
    font-size: 50px;
    /* margin-right: 0.5vw; */
    font-weight: bold;
}

.price-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17vh;
    height: 10vh;
    background-color: transparent;
    border: none !important;
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.price-input::-webkit-outer-spin-button,
.price-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.price-input:focus {
    outline: none;
    /* Evita bordes generados por el navegador al enfocar */
    border: none;
}

.container-go-subscription{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2vh;
}

@media (max-width: 768px) {
    .price-input{
        width: 17.5vh;
    }
    .container-go-subscription{
        display: flex;
    }
}