.modal-payment-title {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0;
    font-weight: bold;
    font-size: 31px;
    color: #A4B46A;
}

.btn-close-modal {
    background-color: transparent;
    border: none;
    font-weight: bold;
}

.container-payment-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container-pay-request {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

.pay-greetings{
    font-size: x-large;
    color: #A4B46A;
}

.container-video-checkout{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
}

.video-checkout{
    height: 100%;
    width: 100%;
}

.container-buttons-confirm {
    margin-top: 2vh;
}

@media (max-width: 768px) {
    .modal-payment-title {
        font-size: larger;
    }
    .pay-greetings{
        font-size: large;
        color: #A4B46A;
        text-align: justify;
    }
    .container-buttons-confirm {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}