.modal-payment-title {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0;
    font-weight: bold;
    color: #34C759;
}

.btn-close-modal {
    background-color: transparent;
    border: none;
    font-weight: bold;
}

.container-payment-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container-pay-request {
    display: flex;
}

.container-buttons-confirm {
    display: flex;
}