.container-steps-view {
    height: 100%;
    width: 100%;
}

.steps-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100.1vh;
    object-fit: fill;
    transform: translate(-50%, -50%);
    filter: brightness(50%);
    z-index: -1;
}

.steps-content {
    height: 100%;
    width: 100%;
    padding: 5%;
}

.steps-img-container {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
}

.steps-title {
    font-size: 6vh;
    font-weight: bold;
    color: white;
}

.steps-logo {
    height: 12vh;
    /* width: 12vh; */
    cursor: pointer;
}

.steps-info-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.steps-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 60%;
    height: 35vh;
}

.steps-line-text {
    font-size: x-large;
    color: white;
    /* text-align: justify; */
}

.logo-iso-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: 5vw;
    height: 45vh;
}

.logo-iso {
    height: 20vh;
    width: 20vh;
}

@keyframes slideInSteps {
    0% {
        top: -100px;
    }

    10% {
        top: 10%;
    }

    90% {
        opacity: 0.99;
    }

    100% {
        opacity: 0;
    }
}
@keyframes slideInCloseSteps {
    0% {
        top: -100px;
    }

    10% {
        top: 17%;
    }

    90% {
        opacity: 0.99;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slideInMobileSteps {
    0% {
        top: -100px;
    }

    10% {
        top: 1%;
    }

    90% {
        opacity: 0.99;
    }

    100% {
        opacity: 0;
    }
}

.steps-tips {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 17.5vw;
    height: 17.5vw;
    font-size: large;
    background-color: #FFF2D4;
    position: absolute;
    left: 65%;
    top: 10%;
    border-radius: 50%;
    animation: grow 8s ease-out;
}

.close-steps-tips{
    height: auto;
    position: absolute;
    left: 80%;
    top: 17%;
    cursor: pointer;
    animation: slideInCloseSteps 8s ease-out;
}

.steps-clients-title {
    color: white;
    font-size: xx-large;
}

@media (max-width: 768px) {
    .steps-clients-title {
        color: white;
        font-size: larger;
    }
    
    .steps-logo {
        width: 15vh;
    }

    .logo-iso {
        width: 10vh;
    }

    .steps-tips {
        width: 47.5vw;
        height: 47.5vw;
        left: 1%;
        top: 1%;
        padding: 2rem 1.25rem;
        font-size: small;
        animation: slideInMobileSteps 8s ease-out;
        text-align: center;
    }

    .steps-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .steps-img-container {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 15vh;
    }

    .steps-info-container {
        flex-direction: column-reverse;

    }

    .steps-title {
        font-size: 5vh;
        font-weight: bold;
    }

    .steps-text {
        width: 100%;
        height: auto;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
    }

    .steps-line-text {
        color: white;
        font-size: large;
    }

    .logo-iso-container {
        height: auto;
        margin-top: 3vh;
    }

    .link-btn {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .btn-green {
        width: 90% !important;
        align-self: center !important;
        font-size: larger !important;
    }
}