.container-home {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.with-back{
    background-image: url('../../assets/images/image-background-trace.jpg');
    background-size: cover;
    background-position: center;
}

.container-home-content {
    flex-grow: 1;
    overflow-y: auto;
}

.home-info {
    display: flex;
    padding: 2rem 4rem;
    width: 100%;
    height: 100%;
}

.home-user-data {
    display: flex;
    padding: 5vh 0;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.home-welcome {
    color: white;
    margin-top: 4vh;
}

.home-number {
    color: white;
    font-size: 10vh;
    font-weight: bold;
}

.home-text {
    color: white;
    font-size: 4vh;
}

.home-need {
    color: white;
}

@keyframes breathing {
    0% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
  }

.home-container-target{
    display: inline-flex;
    margin-top: 2vh;
    animation: breathing 4s ease-in-out infinite
}

.home-target {
    color: white;
    font-weight: bold;
    margin-left: 1vw;
}


.home-user-graphics {
    display: flex;
    padding: 5vh 0;
    margin-left: 5vh;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
}

@media (max-width: 768px) {
    .container-home {
        flex-direction: column-reverse;
    }

    .container-home-content {
        height: 90%;
    }

    .home-info {
        flex-direction: column;
        padding: 0 2rem;
    }

    .home-user-data {
        align-items: center;
        width: 100%;
    }

    .home-welcome{
        font-size: x-large;
    }

    .home-number{
        font-size: 7vh;
        text-align: center;
    }

    .home-text{
        font-size: 2vh;
        margin-bottom: 5vh;
        text-align: center;
    }

    .home-need{
        text-align: center;
    }

    .home-target{
        text-align: center;
        font-size: 5vh;
    }

    .home-user-graphics {
        width: 100%;
        padding: 0;
        margin-left: 0;
    }
}