.container-home {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.with-back {
    background-image: url('../../assets/images/image-background-trace.jpg');
    background-size: cover;
    background-position: center;
}

.home-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100.1vh;
    object-fit: fill;
    transform: translate(-50%, -50%);
    filter: opacity(50%);
    z-index: -1;
}

.container-home-content {
    flex-grow: 1;
    overflow-y: auto;
    animation: showContent 1s;
}

.home-info {
    display: flex;
    padding: 2rem 4rem;
    width: 100%;
    height: 100%;
}

.home-user-data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
    width: 50%;
}

.home-welcome {
    color: white;
    margin-top: 4vh;
}

.home-number {
    color: white;
    font-size: 7vh;
    font-weight: bold;
    /* text-align: justify; */
}

.home-text {
    color: white;
    font-size: 3vh;
    /* text-align: justify; */
}

.home-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.home-container-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.home-container-examples {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.home-example {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vh 0;
}

.example-img {
    height: 12.5vh;
    width: 12.5vh;
}

.example-text {
    color: white;
}

.result-img {
    height: 30vh;
    width: 30vh;
}

.home-result-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 3vh;
}

.home-status {
    color: white;
    text-align: center;
}

.home-invitation {
    color: white;
    font-size: 4vh;
}


.home-user-graphics {
    display: flex;
    padding: 5vh 0;
    margin-left: 2vh;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 50%;
}

.home-formula {
    color: white;
    text-align: center;
}

.formula-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    margin-bottom: 2vh;
}

.formula-img {
    height: 2.5vh;
    width: auto;
    object-fit: contain;
}

.work-video {
    border-radius: 1rem;
}

@media (max-width: 768px) {
    .home-result {
        flex-direction: column;
        gap: 0;
    }

    .container-home {
        flex-direction: column-reverse;
    }

    .container-home-content {
        height: 90%;
    }

    .home-info {
        flex-direction: column;
        padding: 0 2rem;
    }

    .home-user-data {
        padding: 5vh 0;
        align-items: center;
        width: 100%;
    }

    .home-welcome {
        font-size: x-large;
    }

    .home-number {
        font-size: 7vh;
        text-align: center;
    }

    .home-text {
        font-size: 2vh;
        margin-bottom: 5vh;
        text-align: center;
    }

    .home-need {
        text-align: center;
    }

    .home-target {
        text-align: center;
        font-size: 5vh;
    }

    .home-invitation {
        text-align: center;
    }

    .home-user-graphics {
        width: 100%;
        padding: 0;
        margin-left: 0;
    }

    .btn-container-link {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .formula-img {
        height: 1vh;
    }
}