.container-mission-view {
    height: 100%;
    width: 100%;
}

.mission-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100.1vh;
    object-fit: fill;
    transform: translate(-50%, -50%);
    filter: brightness(50%);
    z-index: -1;
}

.mission-content {
    height: 100%;
    width: 100%;
    padding: 5%;
}

.mission-header {
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
}

.mission-logo {
    height: 12vh;
    /* width: 12vh; */
}

.mission-tips {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 2rem;
    width: 22.5vw;
    height: 7.5vw;
    font-size: large;
    font-weight: bold;
    background-color: #4e4e4e7e;
    color: white;
    position: absolute;
    left: 75%;
    top: 5%;
    border-radius: 1rem;
    animation: grow 8s ease-out;
}

.close-mission-tips {
    height: auto;
    position: absolute;
    top: 17%;
    left: 80%;
    cursor: pointer;
    animation: slideInCloseMission 8s ease-out;
}


@keyframes slideInMission {
    0% {
        top: -100px;
    }

    10% {
        top: 10%;
    }

    90% {
        opacity: 0.99;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slideInCloseMission {
    0% {
        top: -100px;
    }

    10% {
        top: 17%;
    }

    90% {
        opacity: 0.99;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slideInMobileMission {
    0% {
        top: 100%;
    }

    10% {
        top: 70%;
    }

    90% {
        opacity: 0.99;
    }

    100% {
        opacity: 0;
    }
}

.mission-title {
    font-size: 6vh;
    font-weight: bold;
}

.mission-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 5vh 0;
}

.mission-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 60%;
    height: 35vh;
}

.mission-line-text {
    color: white;
    font-size: 31px;
    text-align: justify;
    font-weight: bold;
}

@media (max-width: 768px) {
    .mission-header {
        justify-content: center;
    }

    .mission-content {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .mission-info-container {
        margin: 5vh 0
    }

    .mission-title {
        font-size: 5vh;
        font-weight: bold;
    }

    .mission-text {
        width: 100%;
        height: auto;
        background-color: rgba(0, 0, 0, 0.35);
        padding: 1rem;
        border-radius: 1rem;
    }

    .mission-line-text {
        color: white;
        font-size: medium;
        margin: 0.5rem 0
    }

    .btn-green {
        width: 90% !important;
        align-self: center;
        font-size: larger !important;
    }

    .mission-tips {
        width: 80vw;
        height: auto;
        left: 10%;
        top: 70%;
        animation: slideInMobileMission 8s ease-out;
        font-size: medium;
    }
}