.img-logo-carousel{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

@media (max-width: 768px) {
    .carousel-container{
        padding: 0 !important;     
        margin: 0 auto !important;   
    }

    .img-logo-carousel{
        width: 60px;
        height: 75px;
    }
}    