.container-carousel-logos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5vh;
}

.carousel-container{
    width: 90%;
}

@media (max-width: 768px) {
    .carousel-container{
        padding: 0 !important;     
        margin: 0 auto !important;   
    }
}    