.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: auto;
    background-color: transparent;
    border-radius: 0 0 2rem 2rem;
    padding: 0 3vw;
}

.nav-logo {
    height: auto;
    /* width: 12vh; */
}

.navbar-container-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22.5%;
    height: 100%;
    box-sizing: border-box;
    border-bottom: solid 0.5rem transparent;
    color: #604848;
    overflow: hidden; /* Para asegurarnos de que la animación no se salga */
    position: relative;
}

.navbar-container-btn:hover {
    color: #A4B46A;
    transition: color 0.3s ease;
}

.navbar-container-btn::after {
    content: "";
    display: block;
    height: 0.5rem; /* Igual al grosor del border-bottom */
    width: 0;
    background-color: #A4B46A;
    transition: width 0.3s ease; /* Controla la animación */
    position: absolute;
    bottom: 0;
    left: 0;
}

.navbar-container-btn:hover::after {
    width: 100%; /* Anima el borde desde la izquierda hacia la derecha */
}

.navbar-container-btn.active-btn {
    color: #A4B46A;
}

.navbar-container-btn.active-btn::after {
    width: 100%; /* Borde completo para el botón activo */
    background-color: #A4B46A;
}

.item-list {
    display: flex;
    width: 75vw;
    height: 100%;
    justify-content: space-around;
    list-style-type: none;
    margin: 0
}

.navbar-item {
    font-size: x-large;
    font-weight: bold;
}

.navbar-item.logout {
    font-size: medium !important;
}

.navbar-logout {
    cursor: pointer;
}

.navbar-icon {
    display: none;
    height: 0;
}

@media (max-width: 768px) {
    .nav-container {
        border-radius: 1rem 1rem 0 0;
        height: 7vh;
        padding: 0 7vw 0 0;
    }

    .nav-logo {
        display: none;
    }

    .container-home {
        flex-direction: column-reverse;
    }

    .navbar-container-btn {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .item-list {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-left: 0;
    }

    .navbar-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: smaller;
        font-weight: normal;
        height: 100%;
        text-align: center;
    }

    .navbar-item p {
        display: none;
    }

    .navbar-item.logout {
        margin-left: 1.5vw !important;
    }

    .navbar-icon {
        display: flex;
        height: 30px;
    }

    .navbar-logout {
        display: none;
        justify-content: center;
        align-items: center;
        font-size: smaller;
    }

    .navbar-container-btn:hover,
    .navbar-container-btn.active-btn {
        border-bottom: none;
        background-color: #E1E6A7;
    }
}