.container-register {
    width: 50vw;
    height: 100%;
}

.title-register {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 15vh;
    margin: 2vh 0;
}

.register-logo {
    height: 12vh;
    /* width: 12vh; */
}

.text-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.register-line {
    font-weight: bold;
}

.form-register {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3vh 3vw;
    height: 65vh;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
}

.container-input-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 2vw;
}

.input-title {
    color: white;
    margin-bottom: 2vh;
}

.input-form {
    background-color: white;
    border: solid 1px transparent;
    border-radius: 1rem;
    width: 100%;
    height: 5vh;
    padding: 0 1vw;
}

.container-all-btns{
    grid-column: span 2;
    margin-top: 1rem;
}

.container-social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container-btn-social-media {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}

.btn-social-media {
    cursor: pointer;
}

.link-container-register {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn-green-register {
    width: 85%;
    height: 5vh;
    border: none;
    border-radius: 2rem;
    color: white;
    background-color: #A4B46A;
    cursor: pointer;
}

.btn-green-register:hover {
    background-color: #92CD43;
}

@media (max-width: 768px) {
    .container-register {
        width: 100%;
        height: 100%;
        justify-content: flex-start;
        padding: 1rem;
    }

    .title-register {
        flex-direction: column;
        height: auto;
    }

    .link-register {
        display: flex;
        width: 100%;
    }

    .text-register {
        padding: 0.5rem;
    }

    .register-line {
        margin-top: 1rem;
    }

    .form-register {
        display: flex;
        flex-direction: column;
        width: 85%;
        justify-self: center;
        max-height: 60%;
        overflow-y: scroll;
    }

    .form-register::-webkit-scrollbar {
        width: 3px;
        background-color: transparent;
    }

    .container-input-form {
        margin-bottom: 1rem;
    }

    .container-social-media {
        margin: 0.5rem 0;
    }

    .container-btn-social-media{
        width: 60%;
    }
}