.container-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.title-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
    margin: 2vh 0;
}

.register-logo {
    height: 8vh;
    /* width: 12vh; */
}

.text-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2vh 0;
    height: 100%;
}

.register-line {
    font-weight: bold;
    text-align: center;
    /* font-size: small; */
}

.form-register {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 3vh 3vw;
    height: 90vh;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
}

.container-input-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 0.3rem;
}

.input-title {
    color: white;
    margin-bottom: 2vh;
}

.input-form {
    background-color: white;
    border: solid 1px transparent;
    border-radius: 1rem;
    width: 100%;
    height: 5vh;
    padding: 0 1vw;
}

.container-all-btns {
    width: 100%;
}

.container-social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1.5vh 0;
}

.container-btn-social-media {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}

.btn-social-media {
    cursor: pointer;
}

.link-container-register {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn-green-register {
    height: 5vh;
    width: 100%;
    border: none;
    border-radius: 2rem;
    color: white;
    background-color: #A4B46A;
    cursor: pointer;
}

.btn-green-register:hover {
    background-color: #92CD43;
}

@media (max-width: 768px) {
    .container-register {
        width: 100%;
        height: 100%;
    }

    .title-register {
        flex-direction: column;
        height: auto;
    }

    .link-register {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .text-register {
        padding: 0.5rem;
    }

    .register-line {
        margin-top: 1rem;
    }

    .form-register {
        display: flex;
        flex-direction: column;
        width: 95%;
        justify-self: center;
        overflow-y: scroll;
    }

    .form-register::-webkit-scrollbar {
        width: 3px;
        background-color: transparent;
    }

    .container-input-form {
        margin-bottom: 1rem;
    }

    .container-social-media {
        margin: 0.5rem 0;
    }

    .container-btn-social-media {
        width: 60%;
    }
}