/* .container-graphics-home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 5vw;
} */

.apexcharts-legend-text {
    font-size: 1rem !important;
    font-weight: bold !important;
    /* color: #604848 !important; */
    margin-left: 0 !important;
}

.graphics-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    margin: 0.5rem 0;
    background-color: #ffffff28;
    border-radius: 2rem;
    width: 90%;
}

.graphics-div{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.container-button-home {
    width: 90%;
    margin-top: 1rem;
}

.all-cover-btn {
    width: 100% !important;
}

.legend-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    width: 100%; /* Aprovecha todo el espacio horizontal */
    margin-top: 1rem; /* Separar la leyenda del gráfico */
}

.legend-wrapper .category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem; /* Espacio entre el cuadrado y el texto */
    text-align: center;
    flex: 1; /* Cada categoría ocupa un espacio igual */
    font-size: small; /* Tamaño del texto ajustado */
    border: solid 1px rgba(182, 162, 162, 0.313);
    border-radius: 1rem;
    padding: 0.2rem 1rem;
}

.legend-wrapper .color-box {
    width: 1rem;
    height: 1rem;
    border-radius: 50%; /* Cuadrados con esquinas suaves */
}

.label-legend{
    color: white;
    width: 80%;
    font-size: small;
}

@media (max-width: 768px) {
    /* .container-graphics-home {
        align-items: flex-start;
    } */
    .graphics-background {
        flex-direction: column; /* Permite que los elementos del gráfico se apilen verticalmente */
        align-items: center;
        padding: 1rem; /* Ajuste del padding para móviles */
    }

    .apexcharts-canvas {
        margin: 0 auto; /* Centrar el gráfico */
    }

    .graphics-background.pie-chart {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .label-legend{
        font-size: smaller;
    }

    .container-button-home{
        margin-bottom: 1rem;
    }

    .legend-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .legend-wrapper .category {
        gap: 0;
    }
}