.container-landing-home {
    height: 100%;
    width: 100%;
    position: relative;
  }
  
  .slide-container {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
  }
  
  .slide-out {
    transform: translateX(0);
  }
  
  .slide-in {
    transform: translateX(0);
  }
  
  .animating .slide-out {
    transform: translateX(-100%);
  }
  
  .animating .slide-in {
    transform: translateX(0);
  }
  
  @media (max-width: 768px) {
    .container-landing-home {
      overflow-y: hidden;
    }
  }