.container-landing-home {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.btn-green {
    width: 10vw;
    height: 5vh;
    border: none;
    border-radius: 1rem;
    color: white;
    background-color: #88AE55;
    cursor: pointer;
}

.btn-green:hover {
    background-color: #92CD43;
}