/* @font-face {
  font-family: Cocogoose-Light;
  src: url('./assets/fonts/Cocogoose\ Pro\ Regular\ Trial.ttf');
} */


/* html{
  font-family: Cocogoose-Light, sans-serif;
} */

body{
  height: 100vh;
  width: 100vw;
  background-color: #E2EFDA;
  font-family: 'Open Sans', serif !important;
}

#root{
  height: 100%;
  width: 100%;
}

.btn-green {
  width: 12vw;
  height: 7vh;
  font-size: x-large;
  border: none;
  border-radius: 2rem;
  color: white;
  background-color: #A4B46A;
  cursor: pointer;
}

.btn-green:hover {
  background-color: #92CD43;
}