body {
    margin: 0;
    background-color: #505050;
    overflow: hidden; /* Evita scroll en desktop */
    height: 100vh;
    width: 100vw;
    font-family: 'Open Sans', serif !important;
  }
  
  html, body, #root {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .content-container {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  /* Mantén los otros estilos como .btn-green, animaciones, etc. */
  .btn-green {
    background-color: #A4B46A;
    color: white;
    border: none;
    border-radius: 2rem;
    padding: 0.75rem 1.5rem;
    font-size: clamp(1rem, 2vw, 1.25rem);
  }
  
  .btn-green:hover {
    background-color: #C0D860;
  }
  
  .btn-green.have-account {
    background-color: transparent;
    border: 1px solid #A4B46A;
  }
  
  .btn-green.have-account:hover {
    background-color: #C0D860;
  }
  
  @keyframes grow {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50% {
      transform: scale(1);
      opacity: 1;
    }
    90% {
      transform: scale(1);
      opacity: 0.9;
    }
    100% {
      transform: scale(1.1);
      opacity: 0;
    }
  }
  
  @keyframes showContent {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }