body {
    margin: 0;
    background-color: #505050;
    /* min-height: 100vh;
    min-height: 100dvh; */
}

a {
    text-decoration: none;
    cursor: pointer;
}

p,
label,
h2,
input {
    color: #604848;
    margin: 0;
}