.container-arrow-back {
    position: fixed;
    left: 2rem;
    cursor: pointer;
    z-index: 100;
}

.img-arrow-back {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.img-arrow-back:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .container-arrow-back {
        left: 1rem;
    }
}